<!DOCTYPE html>
<html>
<head>
    <title>Banking Transactions</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="spinner" id="loadingSpinner"></div>
    <h1>Banking Transaction History</h1>

    <!-- Introduction Section -->
    <div class="introduction">
        <p>Welcome to the Banking Transaction History system. Here, you can inquire about various aspects of your financial transactions. Just type your query in the form below and get insights into your expenses, incomes, and overall balance. Use the example queries as a guide to format your questions.</p>
    </div>

    <!-- Example Questions Section -->
    <div class="examples">
        <p>Example Inquiries:</p>
        <ul>
            <li>Total expense in 2023 Dec?</li>
            <li>Total salary since 2023 Dec?</li>    
            <li>The net balance of transactions in 2023 Dec?</li>   
            <li>Total expense recorded as 'debit' in 2023?</li>        
            <li>Largest transaction in Q1 2023?</li>       
            <li>Number of transactions since 2024?</li>                 
        </ul>
    </div>

    <div class="form-container">
        <form method="POST" action="/inquiry">
            <label for="inquiry">Submit an Inquiry:</label>
            <input type="text" id="inquiry" name="inquiry" placeholder="E.g. Total expense in 2023 Dec?" required>
            <input type="submit" value="Submit" class="submit-button">
        </form>
        <!-- Response display -->
    </div>
    {% if answer %}
    <div class="response">
        <p><strong>Response:</strong> {{ answer }}</p>
    </div>
    {% endif %}

    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.transaction_type }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.querySelector('form');
            var spinner = document.getElementById('loadingSpinner');
    
            form.onsubmit = function() {
                spinner.style.display = 'block';
            };
        });
    </script>
</body>
</html>
