<!DOCTYPE html>
<html>
<head>
    <title>All Records</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>All Expense Records</h1>
    <a href="/" class="button">Go Back</a>
    <table>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Actions</th> <!-- Added Actions column -->
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense['date'] }}</td>
            <td>{{ expense['item'] }}</td>
            <td>{{ expense['amount'] }}</td>
            <td>
                <a href="{{ url_for('edit', id=expense['rowid']) }}" class="button">Edit</a>
                <form method="POST" action="{{ url_for('delete', id=expense['rowid']) }}">
                    <button type="submit" class="button-delete">Delete</button>
                </form>      
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
